<fieldset id="<%= dom_id(issue) %>">
  <% fields_for (issue.new_record? ? 'issue[new][]' : 'issue[]'), issue do |ff| %>
    <table>
      <tr>
        <th><%= ff.label :assigned_to_id %></th>
        <th><%= ff.label :tracker_id %></th>  
        <th><%= ff.label :subject %></th>
    <%# TODO: Custom field - estimate low %>
    <%# TODO: Custom field - estimate high %>
    <%# TODO: Custom field - need estimate %>
      </tr>
      <tr>
        <td>
          <%= ff.select :assigned_to_id, (issue.assignable_users.collect {|m| [m.name, m.id]}), :include_blank => true %>
        </td>
        <td>
          <%= ff.select :tracker_id, @project.trackers.collect {|t| [t.name, t.id]}, :required => true %>
        </td>
        <td>
          <%= ff.text_field :subject, :class => 'subject' %>
        </td>
      </tr>
    </table>
  <% end -%>
</fieldset>

<div class="contextual">
  <%= link_to "Add task", "#", :id => 'addTaskLink', :class => 'icon icon-add' %>
</div>

