<tr>
  <td class="status">
    <%= h issue.status %>
  </td>
  <td class="assigned_to">
    <%= h issue.assigned_to %>
  </td>
  <td class="tracker">
    <%= h issue.tracker %>
  </td>
  <td class="subject">
    <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
  </td>
  <td class="spent-time">
    <%= h issue.spent_hours %>
  </td>
</tr>
