<% # Setup fields for submisison on a new issue %>
<% if issue.new_record? %>
  <%= hidden_field_tag "subissue[][assigned_to_id]", issue.assigned_to_id %>
  <%= hidden_field_tag "subissue[][tracker_id]", issue.tracker_id %>
  <%= hidden_field_tag "subissue[][subject]", issue.subject %>
<% end %>
<tr id="subtask_<%= issue.id %>">
  <td class="status">
    <%= h issue.status %>
  </td>
  <td class="assigned_to">
    <%= h issue.assigned_to %>
  </td>
  <td class="tracker">
    <%= h issue.tracker %>
  </td>
  <td class="subject">
    <%= link_to(h(issue.subject), :controller => 'issues', :action => 'show', :id => issue) %>
  </td>
  <td class="spent-time">
    <%= h issue.spent_hours %>
  </td>
</tr>
