<tr>
  <td>
    <%= h issue.status %>
  </td>
  <td>
    <%= h issue.assigned_to %>
  </td>
  <td>
    <%= h issue.tracker %>
  </td>
  <td>
    <%= h issue.subject %>
  </td>
  <td>
    <%= h issue.spent_hours %>
  </td>
</tr>
