<h2>Task Estimate</h2>

<%= render :partial => 'decompositions/form', :locals => {:issue => Issue.new(:project => @project)} %>
  <fieldset>
    <table id="subtasks" class="decomposition">
      <tr>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_assigned_to) %></th>
        <th><%= l(:field_tracker) %></th>  
        <th><%= l(:field_subject) %></th>
        <th><%= l(:field_spent_hours_formatted) %></th>
    <%# TODO: Custom field - estimate low %>
    <%# TODO: Custom field - estimate high %>
    <%# TODO: Custom field - need estimate %>
      </tr>
      <tbody id="subtasks_body">
      <% if @issue && @issue.tasks.any? -%>
      <%= render :partial => 'decompositions/issue', :collection => @issue.tasks %>
      <% end -%>
      </tbody>
    </table>
  </fieldset>

<% content_for :header_tags do %>
  <style type="text/css" media="screen">
    #decomposition_form input { font-size: 12px; width: 100px; }
    #decomposition_form label { margin-left: 10px; }
    #decomposition_form .subject { width: 450px; }
    #decomposition_form .estimated_hours { width: 20px; }
    #decomposition_form textarea { height: 70px; width: 724px; margin-left: 56px; }
    #decomposition_form fieldset { border: 1px solid #eee; border-width: 1px 0 0 0; position: relative; padding: 0; }
      #decomposition_form fieldset span.titular { position: absolute; left: 0; display: block; margin: 0 7px 0 0; padding: 11px 10px; background: #eee; }
        #decomposition_form fieldset span.titular .icon-del { padding-left: 10px; }
    #decomposition_form p { margin: 6px 0; }
    #decomposition_form #errorExplanation, #decomposition_form p { margin-left: 100px; }
    table.decomposition { width: 100%; }
    table.decomposition tr { text-align: center; }

    /* To clear out the margin on .tabular */
    .tabular table.decomposition label { margin-left: 0 }
  </style>
  
<% end -%>
