<div class="contextual">
  <%= link_to "Add task", "#", :id => 'addTaskLink', :class => 'icon icon-add' %>
</div>

<h2>Task Decomposition - <%= link_to_issue(@issue) %>: <%= @issue.subject %></h2>

<%= render :partial => 'decompositions/form', :locals => {:issue => Issue.new(:project => @project)} %>
<% if @issues && @issues.any? -%>
    <table>
      <tr>
        <th><%= label :assigned_to_id %></th>
        <th><%= label :tracker_id %></th>  
        <th><%= label :subject %></th>
      </tr>
      <%= render :partial => 'decompositions/issue', :collection => @issue.tasks %>
    </table>
<% end -%>

<% content_for :header_tags do %>
  <style type="text/css" media="screen">
    #decomposition_form input { font-size: 12px; width: 100px; }
    #decomposition_form label { margin-left: 10px; }
    #decomposition_form .subject { width: 450px; }
    #decomposition_form .estimated_hours { width: 20px; }
    #decomposition_form textarea { height: 70px; width: 724px; margin-left: 56px; }
    #decomposition_form fieldset { border: 1px solid #eee; border-width: 1px 0 0 0; position: relative; padding: 0; }
      #decomposition_form fieldset span.titular { position: absolute; left: 0; display: block; margin: 0 7px 0 0; padding: 11px 10px; background: #eee; }
        #decomposition_form fieldset span.titular .icon-del { padding-left: 10px; }
    #decomposition_form p { margin: 6px 0; }
    #decomposition_form #errorExplanation, #decomposition_form p { margin-left: 100px; }
  </style>
  
  <script type="text/javascript" charset="utf-8">
    var ScrumAlliance = ScrumAlliance || {};
    ScrumAlliance.Decomposer = Class.create({
      initialize: function(formElement, addTaskLink) {
        this.formElement = $(formElement);
        this.dataUrl = this.formElement.readAttribute('data-url')
        $(addTaskLink).observe('click', this.addTask.bind(this));
      },
      addTask: function() {
        new Ajax.Updater(this.formElement, this.dataUrl, {method: 'get', insertion: 'top'});
        return false;
      }
    });
    
    document.observe("dom:loaded", function() {
      new ScrumAlliance.Decomposer('decomposition_form', 'addTaskLink');
    });
  </script>
<% end -%>
